<div>
    <div class="jumbotron">
        <h1>Angular Routing</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['./home']">Home</a>
        </li>
        <li>
                <a [routerLink]="['./about',id]">About</a>
        </li>
        <li>
                <a [routerLink]="['./contact']">Contact</a>
        </li>
        <li>
                <a [routerLink]="['./notfound']">Not Found</a>
        </li>
    </ol>
    <hr/>
    <router-outlet></router-outlet>
</div>