<div>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Applying Style using styles Property</h3>
        </div>
        <div class="panel-body">
            <div class="sty01">Applying Style using styles Property</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Applying Style using styleUrls Property</h3>
        </div>
        <div class="panel-body">
            <div class="sty02">Applying Style using styleUrls Property</div>
        </div>
    </div>
</div>