<div>
    <div class="jumbotron">
        <h1>LifeCycle Hooks</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">App Component</h3>
        </div>
        <div class="panel-body">
            <div>
                <div>First Name: </div>
                <input type="text" class="form-control" [(ngModel)]="firstName">
                <div>Last Name: </div>
                <input type="text" class="form-control" [(ngModel)]="lastName">
                <hr>
                <div>
                    <span>{{'First Name : '+ firstName + ' Last Name : '+ lastName}}</span>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" (click)="status=!status">{{ status? "Hide":"Show"}}</button>
            </div>
            <hr>
            <div>
                <app-inner *ngIf="status"></app-inner>
            </div>
            <hr>
            <div>
               <app-sample [firstName]="firstName" [lastName]="lastName" ></app-sample>
            </div>
        </div>
    </div>
</div>